@import 'nib'
@import '_base'

$gold = #a29161
$black = #231f20

p
h1
h2
h3
h4
h5
input
select
button
label
li
address
.popover
  font-family "freight-text-pro"

body
.btn
  font-size 18px

h1
  font-size 30px
h2
  font-size 28px
h3
  font-size 26px
h4
button
  font-size 20px

a
a:hover
  color $gold

.btn-primary
  background $gold
  border-color darken($gold, 20%)
  &:hover
    background darken($gold, 15%)
    border-color darken($gold, 30%)
  &.disabled
    background lighten($gold, 30%)
    border-color lighten($gold, 10%)

.popover
  .popover-content
    font-size 16px
    width 200px

h5
  font-size 18px
  font-weight bold

p
  font-weight 400

header
  text-align center
  margin-bottom 40px
  h1
    font-family "freight-text-pro"
    text-transform uppercase
  .logo
    img
      margin 30px
      width 40%
      max-width 320px
  .lettering
    img
      width 519px
      max-width 100%

#markmidid
  h1
    font-weight bold
    text-align center
    font-size 40px
  h4
    text-align center
    margin 20px 0

.social
  margin-top 30px
  text-align center
  .slogan
    color $gold

.label-gold
  background $black
  color $gold

.label-facebook
  background #3b5998
  color white
  box-shadow 1px 1px 0 white, 2px 2px 0 lighten(#3b5998, 70%)
.label-twitter
  background #019ad2
  color white
  box-shadow 1px 1px 0 white, 2px 2px 0 lighten(#019ad2, 70%)


#spurningar
  h3
  .question
    margin-bottom 20px
    padding-bottom 10px
    border-bottom 1px solid lighten($gold, 80%)

  .question
    h5
      cursor pointer
      &:hover
        color lighten($black, 50%)
    p
    address
      display none
    &.open
      h5
        text-decoration none
        cursor default
        &:hover
          color black
      p
      address
        display block


#skraning
  position relative
  form
    transition margin 0.6s ease
  label
    span
      cursor pointer
  .thank-you
    transition opacity 1.4s ease-out
    opacity 0
    color $gold
    text-align center
    border 1px solid $gold
    border-radius 4px
    padding 8px
    h4
    p
      font-weight bold
  &.done
    .thank-you
      opacity 1

@media (min-width: 992px)
  #skraning
    height 590px
    overflow hidden
    .form
      height 590px
    .thank-you
      position absolute
      background rgba(255,255,255,0.8)
      border 0
  #skraning.done
    form
      margin-top -590px
    .thank-you
      padding-top 210px
      height 540px
      opacity 1



/* Widen the fixed sidebar */


.sidebar

  margin-top 20px
  text-align center
  width 100%

  &.affix
    position static
    top 0

#instagram
  p
    margin-bottom 20px

.photos
  .post
    text-align center
    margin 10px 0
    img
      display block
      margin 0 auto
      max-width 100%
      box-shadow 0 0 2px $black

div.inverse
  background $black url('../images/background.png') top right no-repeat
  color white
  position absolute
  width 100%
  overflow hidden
  padding 30px 0


@media (min-width: 992px)

  .sidebar
    text-align right
    box-shadow 1px 0 0 $gold
    width 120px

    li > a
      border-radius 0

    &.affix
      position fixed /* Undo the static from mobile first approach */
      top 70px

    &.affix-bottom
      position absolute /* Undo the static from mobile first approach */

    &.affix-bottom .bs-sidenav
    &.affix .bs-sidenav
      margin-top 0
      margin-bottom 0

  .inverse
    margin-top 100px
    box-shadow 0 -10px 20px white

  .photos
    .post
      width 23%
      padding 0.5%
      float left
      margin 1%
      img
        width 100%


footer
  border-top 1px solid $gold
  color $gold
  margin 30px 0
  padding 20px 0
  text-align center
